{% import 'macros/source.j2' as source %}
{% import 'macros/fields.j2' as fields %}
{{ source.header(base ~ '.events', provenance, true) }}{{ source.documentation(event.documentation, event.name, provenance, event.fields) }}final case class {{ event.name }}({{ fields.parameters(event.fields) }}) extends Event:
  def eventType: String = {{ event.name | quote }}
  def eventData: JsonObject = {{ fields.encode(event.fields) }}

{{ source.see_doc('JSON decoder for [[' ~ event.name ~ ']] events.', event.name, event.name, provenance) }}object {{ event.name }}:
  val selector: EventSelector[{{ event.name }}] = EventSelector({{ event.name | quote }}):
    case event: {{ event.name }} => Some(event)
    case _ => None
  def decode(data: JsonObject): Either[ProtocolError, {{ event.name }}] = {{ fields.decode(event.name, event.fields) }}
